<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

<title>Fugu Chat</title>
<!--<style>
@media(max-width: 991px){
table{width: 100%!important; max-width: 350px!important;}
.styl-yes{font-size: 20px!important; line-height: 22px!important;}


}


</style>-->

<style type="text/css">

/*@media(min-width: 768px){
table{max-width: 600px!important}

.smal-pad{padding:0px 35px!important;}
*/
body{
background-color:whitesmoke;
}
a:hover {
opacity: 0.7 !important;
}

table{max-width:500px; width:100%; }


@media (max-width: 786px){

table{max-width:350px; width:100%; }
.smal-pad{padding:0px 15px!important;}
.font-small{font-size: 18px!important}

}
*{
font-family: Lato, Helvetica, Arial, sans-serif !important
}
</style>

</head>
<body >
<table style="text-align:left; border:none; margin:auto; background-color:#fff; border-spacing: 0px; " border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<p style="margin: 0px;text-align:center;padding:10px;background-color:#F9F9F9">
<img src='https://fchat.s3.ap-south-1.amazonaws.com/default/IxLlLMbU2r.1605854329444.png'>
</p>
</td>
</tr>
<tr>
<td style="text-align:center;">
<div class="smal-pad" style="width: 100%;
display: inline-block;
text-align: left;
padding: 0px 35px;
background-color: #fff;
margin-bottom: 0px;
box-sizing: border-box;
text-align:center ;">

<div style="width: 100%;
display: table;
box-sizing: border-box;">
<div style="display: table-cell; vertical-align: middle;">
<p class="font-small" style="font-size: 28px;
font-family: 'Montserrat', sans-serif;
line-height: 32px;
padding: 20px 0px;
margin: 0px;
text-align:center;
" class="styl-yes">Registration on FuguChat.</p>
</div>
</div>
<div style="width: 100%;
display: table;
box-sizing: border-box;">
<div style="display: table-cell; vertical-align: middle;">
<p class="font-small" style="font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
line-height: 24px;
padding: 10px 0px;
margin: 0px;
text-align:left; pointer-events:none;
" class="styl-yes">
FuguChat is a platform that helps simplify communication for more efficient teamwork.
It helps to create alignment and shared understanding across your team.You can also use it
to stay connected to your friends & family, your open networks and ofcourse, your internal team.
</p>
</div>
</div>
<div style="width: 100%;
display: table;
box-sizing: border-box;">
<div style="display: table-cell; vertical-align: middle;">
<p class="font-small" style="font-size: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
padding-top: 20px;
padding-bottom: 2px;
margin: 0px;
text-align:center; pointer-events:none;
" class="styl-yes">
TRY IT OUT FOR YOURSELF NOW
</p>
</div>
</div>
<div style="padding:0px 0px">
<p style="text-align: center"><a href="{{ link }}" style="background-color: #2296ff;
padding: 15px 30px;
color: #fff;
margin-bottom: 10px;
display: inline-block;
font-family: 'Lato', sans-serif;
text-decoration: none!important;
border-radius: 10px; font-size: 20px;">Verify Your Email Address</a></p>
</div>
<div style="width: 100%;
display: table;
box-sizing: border-box;">
<div style="display: table-cell; vertical-align: middle;">
<p class="font-small" style="font-size: 14px;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
margin: 0px;
color:gray;
text-align:left;" class="styl-yes">Have a great day!</p>
</div>
</div>
<div style="width: 100%;
display: table;
box-sizing: border-box;">
<div style="display: table-cell; vertical-align: middle;">
<p class="font-small" style="font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
padding: 20px 0px;
margin: 0px;
text-align:left;" class="styl-yes">Cheers,<br/>
Fugu</p>
</div>
</div>
</div>
</td>
</tr>
</table>
</body>
</html>
